
/* Buffers */
.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}

.image-for-bg {
  /*background-image: url("../images/event.jpg");*/
  background-image: url("~images/tusovka.png");
  background-size: 100% auto;
}

.nice-bg-color {
  background-color: #e7e7e7;
}

.user-avatar .img-icon {
  margin-top: -2px;
  height: 30px;
}
